   
	<title>La seconda ondata: i nuovi contagiati nel mondo - Corriere.it</title>
    <meta name="title" content="La seconda ondata: i nuovi contagiati nel mondo - Corriere.it">
    <meta name="description" content="Quindici Paesi in cui il coronavirus &egrave; tornato: come e dove sono nati i nuovi focolai">
    
    <meta property="fb:app_id" content="203568503078644"/>
    <meta property="og:title" content="La seconda ondata: i nuovi contagiati nel mondo"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="it_IT"/>
    <meta property="og:url" itemprop="url" content="https://www.corriere.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/"/>
    <meta property="og:image" content="https://images2.corriereobjects.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/social.png"/>
    <meta property="og:site_name" content="Corriere della Sera"/>
    <meta property="og:description" content="Quindici Paesi in cui il coronavirus &egrave; tornato: come e dove sono nati i nuovi focolai"/>
    <meta name="author" content="Francesco Giambertone e Andrea Marinelli"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Corriereit">
    <meta name="twitter:creator" content="Francesco Giambertone e Andrea Marinelli">
    <meta name="twitter:title" content="La seconda ondata: i nuovi contagiati nel mondo">
    <meta name="twitter:description" content="Quindici Paesi in cui il coronavirus &egrave; tornato: come e dove sono nati i nuovi focolai">
    <meta name="twitter:image" content="https://images2.corriereobjects.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/social.png">

    <link rel="canonical" href="https://www.corriere.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/"/>

    
