<section class="credit">
    
    
    		<p>
        		<strong>A cura di:</strong> Francesco Giambertone <br/>
    		</p>
    		<p>
        		<strong>Mappe:</strong> Bing.com <br/>
    		</p>
    		<p>
        		<strong>Sviluppo grafico:</strong> Grafici Corriere Online <br/>
    		</p>
        
    

   
</section>