<div class="contenitoreFaccini">
    <section class="lista" id="listaDonne">
        <!--echo var="WEB_ROOT_IMG" -->
        <!--#include virtual="include-fascione.html" -->

        <div class="binario">
            <span class="tutti">mostra tutti</span>
            <ul class="list">
                    <li class="donna donna-0 contesti-familiari feste aziende-agricole " data-id="0"
                        data-nome="Spagna"
                        data-voce1="contesti familiari" data-voce2="feste" data-voce3="aziende agricole" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/spagna.png" alt="Spagna " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Spagna </h2>
                        </div>
                    </li>
                    <li class="donna donna-1 luoghi-di-lavoro contesti-familiari feste locali-o-ristoranti" data-id="1"
                        data-nome="Francia"
                        data-voce1="luoghi di lavoro" data-voce2="contesti familiari" data-voce3="feste" data-voce4="locali o ristoranti" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/francia.png" alt="Francia " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Francia </h2>
                        </div>
                    </li>
                    <li class="donna donna-2 mattatoi rientri-dall-estero luoghi-di-lavoro matrimoni" data-id="2"
                        data-nome="Germania"
                        data-voce1="mattatoi" data-voce2="rientri dall'estero" data-voce3="luoghi di lavoro" data-voce4="matrimoni" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/germania.png" alt="Germania " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Germania </h2>
                        </div>
                    </li>
                    <li class="donna donna-3 matrimoni locali-o-ristoranti mattatoi " data-id="3"
                        data-nome="Belgio"
                        data-voce1="matrimoni" data-voce2="locali o ristoranti" data-voce3="mattatoi" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/belgio.png" alt="Belgio " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Belgio </h2>
                        </div>
                    </li>
                    <li class="donna donna-4 miniere matrimoni contesti-familiari " data-id="4"
                        data-nome="Polonia"
                        data-voce1="miniere" data-voce2="matrimoni" data-voce3="contesti familiari" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/polonia.png" alt="Polonia " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Polonia </h2>
                        </div>
                    </li>
                    <li class="donna donna-5 matrimoni feste rientri-dall-estero luoghi-di-lavoro" data-id="5"
                        data-nome="Grecia"
                        data-voce1="matrimoni" data-voce2="feste" data-voce3="rientri dall'estero" data-voce4="luoghi di lavoro" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/grecia.png" alt="Grecia " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Grecia </h2>
                        </div>
                    </li>
                    <li class="donna donna-6 feste locali-o-ristoranti rientri-dall-estero contesti-familiari" data-id="6"
                        data-nome="Croazia"
                        data-voce1="feste" data-voce2="locali o ristoranti" data-voce3="rientri dall'estero" data-voce4="contesti familiari" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/croazia.png" alt="Croazia " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Croazia </h2>
                        </div>
                    </li>
                    <li class="donna donna-7 rientri-dall-estero contesti-familiari  " data-id="7"
                        data-nome="Bosnia"
                        data-voce1="rientri dall'estero" data-voce2="contesti familiari" data-voce3="" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/bosnia.png" alt="Bosnia " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Bosnia </h2>
                        </div>
                    </li>
                    <li class="donna donna-8 scuole chiese  " data-id="8"
                        data-nome="Israele"
                        data-voce1="scuole" data-voce2="chiese" data-voce3="" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/israele.png" alt="Israele " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Israele </h2>
                        </div>
                    </li>
                    <li class="donna donna-9 carceri aziende-agricole luoghi-di-lavoro " data-id="9"
                        data-nome="California"
                        data-voce1="carceri" data-voce2="aziende agricole" data-voce3="luoghi di lavoro" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/california.png" alt="California " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">California </h2>
                        </div>
                    </li>
                    <li class="donna donna-10 rientri-dall-estero luoghi-di-lavoro  " data-id="10"
                        data-nome="Australia"
                        data-voce1="rientri dall'estero" data-voce2="luoghi di lavoro" data-voce3="" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/australia.png" alt="Australia " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Australia </h2>
                        </div>
                    </li>
                    <li class="donna donna-11 luoghi-di-lavoro contesti-familiari  " data-id="11"
                        data-nome="Nuova Zelanda"
                        data-voce1="luoghi di lavoro" data-voce2="contesti familiari" data-voce3="" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/nuova-zelanda.png" alt="Nuova Zelanda " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Nuova Zelanda </h2>
                        </div>
                    </li>
                    <li class="donna donna-12 contesti-familiari scuole locali-o-ristoranti " data-id="12"
                        data-nome="Giappone"
                        data-voce1="contesti familiari" data-voce2="scuole" data-voce3="locali o ristoranti" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/giappone.png" alt="Giappone " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Giappone </h2>
                        </div>
                    </li>
                    <li class="donna donna-13 chiese luoghi-di-lavoro feste locali-o-ristoranti" data-id="13"
                        data-nome="Corea del Sud"
                        data-voce1="chiese" data-voce2="luoghi di lavoro" data-voce3="feste" data-voce4="locali o ristoranti" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/corea-del-sud.png" alt="Corea del Sud " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Corea del Sud </h2>
                        </div>
                    </li>
                    <li class="donna donna-14 locali-o-ristoranti luoghi-di-lavoro  " data-id="14"
                        data-nome="Hong Kong"
                        data-voce1="locali o ristoranti" data-voce2="luoghi di lavoro" data-voce3="" data-voce4="" data-titolo=""
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/hong-kong.png" alt="Hong Kong " tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Hong Kong </h2>
                        </div>
                    </li>
            </ul>
        </div>
    </section>
</div>

<section class="description" id="long_desc">

    <div class="messages"></div>

    <ul class="donneList">
            <li class="descrizione contesti-familiari feste aziende-agricole " data-id="0" tagManager="event" data-nome="Spagna" data-titolo="contesti familiari" data-voce1="contesti familiari" data-voce2="feste" data-voce3="aziende agricole" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/spagna.jpg" alt="Spagna ">
                    <ul class="vocette">
                    <li class="contesti-familiari"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/contesti-familiari.svg" alt="contesti familiari" /> contesti familiari</li>
                        <li class="feste"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/feste.svg" alt="feste" /> feste</li>
                        <li class="aziende-agricole"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/aziende-agricole.svg" alt="aziende agricole" /> aziende agricole</li>
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/spagna.png" alt="Spagna ">
                    <h3 class="descrizione-stato">Spagna</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Dall&rsquo;inizio di agosto la Spagna ha registrato oltre 50 mila nuovi casi di coronavirus, con una media di oltre 4 mila al giorno, diventando <strong>la &laquo;maglia nera d&rsquo;Europa&raquo;</strong>: quasi tutti i Paesi europei ora impongono un tampone a chi arriva o torna da l&igrave;. <strong>Il tasso di nuovi infetti &egrave; il pi&ugrave; alto d&rsquo;Europa</strong> (Lussemburgo escluso), ed &egrave; arrivato a toccare la quota allarmante di uno 1 ogni mille abitanti a livello nazionale. Secondo il ministero della Sanit&agrave; spagnolo, <strong>un focolaio su tre &egrave; dovuto a contesti familiari</strong> e a situazioni e luoghi di svago: anche per questo il governo ha deciso di chiudere le <strong>discoteche</strong> e limitare molto la vita notturna. Il 15% dei nuovi contagi si verifica in contesti lavorativi, il 18% in situazioni &laquo;miste&raquo; tra colleghi e parenti. Le preoccupazioni a fine luglio erano rivolte alla <strong>Catalogna</strong> - che per prima aveva invitato i cittadini a restare di nuovo a casa -, ma nelle ultime due settimane i focolai si sono moltiplicati e disseminati in tutto il Paese, allarmando soprattutto nelle regioni di <strong>Aragona</strong> (250 casi ogni 100 mila abitanti), <strong>Paesi Baschi</strong> (121) e <strong>Navarra</strong> (109). Nell&rsquo;area di Saragozza - dove molti dei contagi arrivano dai lavoratori stagionali della frutta - si parla gi&agrave; di trasmissione comunitaria: i militari hanno allestito un ospedale da campo. A Lleida di Segri&agrave; da fine giugno oltre 3 mila persone sono state contagiate, la maggior parte legate a dei focolai sorti in aziende ortofrutticole. E i focolai sono scoppiati in situazioni di tutti i tipi: da una <strong>festa</strong> nella comunit&agrave; valenciana, a una <strong>palestra</strong> della Galizia con 60 positivi, fino a un <strong>convento</strong> a Lasarte. Diversi paesini sono in isolamento.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Spagna" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Spagna" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione luoghi-di-lavoro contesti-familiari feste locali-o-ristoranti" data-id="1" tagManager="event" data-nome="Francia" data-titolo="luoghi di lavoro" data-voce1="luoghi di lavoro" data-voce2="contesti familiari" data-voce3="feste" data-voce4="locali o ristoranti">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/francia.jpg" alt="Francia ">
                    <ul class="vocette">
                    <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                        <li class="contesti-familiari"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/contesti-familiari.svg" alt="contesti familiari" /> contesti familiari</li>
                        <li class="feste"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/feste.svg" alt="feste" /> feste</li>
                        <li class="locali-o-ristoranti"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/locali-o-ristoranti.svg" alt="locali o ristoranti" /> locali o ristoranti</li>
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/francia.png" alt="Francia ">
                    <h3 class="descrizione-stato">Francia</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Il Paese sta andando &laquo;nella direzione sbagliata&raquo;. Il primo ministro francese Jean Castex aveva commentato cos&igrave; i dati di inizio agosto: pi&ugrave; di 2 mila nuovi casi al giorno, il doppio rispetto a tre settimane fa, con <strong>un record di 3.300 casi dopo Ferragosto</strong>. Il Regno Unito ha imposto la quarantena a chi proviene da qui (misura divenuta reciproca). E la <strong>mascherina obbligatoria</strong> sui trasporti e in tutti gli spazi chiusi non sembra bastare. In diverse parti del Paese i casi superano i 50 ogni 100 mila abitanti, e i <strong>malati sono sempre pi&ugrave; giovani</strong> (la fascia 15-44 anni &egrave; cresciuta moltissimo, soprattutto tra i 20 e i 30). I nuovi cluster sono lievemente pi&ugrave; piccoli di quelli di maggio-giugno (ora 8 casi l&rsquo;uno in media, contro i 17 di prima): <strong>la maggior parte (il 24%) &egrave; stata localizzata nei posti di lavoro</strong>, cio&egrave; in aziende private o pubbliche; e nel 23% dei casi il contagio &egrave; avvenuto nell&rsquo;ambiente familiare allargato, cio&egrave; che frequenta diverse case (14%), e in eventi con assembramenti temporanei di persone (9%). Le zone pi&ugrave; colpite sono <strong>Parigi, Marsiglia, la Provenza</strong> (80 positivi in 11 aziende, tra cui un cantiere navale e un garage) e l&rsquo;area di Lille. A Vitr&eacute;, in Bretagna, 32 persone si sono contagiate in un <strong>macello</strong> (tutti asintomatici). Nella Loira sono stati identificati 14 casi tra il personale di un ristorante; in un locale turistico a Saint-Tropez, poi chiuso insieme ad altri due, i malati erano 18. Nella capitale segnalati diversi casi alle Galeries Lafayette e in un negozio Fnac. Oltre la met&agrave; di chi attualmente &egrave; malato in Francia &egrave; asintomatico.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Francia" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Francia" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione mattatoi rientri-dall-estero luoghi-di-lavoro matrimoni" data-id="2" tagManager="event" data-nome="Germania" data-titolo="mattatoi" data-voce1="mattatoi" data-voce2="rientri dall'estero" data-voce3="luoghi di lavoro" data-voce4="matrimoni">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/germania.jpg" alt="Germania ">
                    <ul class="vocette">
                    <li class="mattatoi"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mattatoi.svg" alt="mattatoi" /> mattatoi</li>
                        <li class="rientri-dall-estero"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/rientri-dall-estero.svg" alt="rientri dall'estero" /> rientri dall'estero</li>
                        <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                        <li class="matrimoni"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/matrimoni.svg" alt="matrimoni" /> matrimoni</li>
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/germania.png" alt="Germania ">
                    <h3 class="descrizione-stato">Germania</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">A met&agrave; giugno era scoppiato un focolaio nel <strong>pi&ugrave; grande mattatoio d&rsquo;Europa</strong>, quello dell&rsquo;azienda T&ouml;nnies in Nordreno-Vestfalia, con oltre 1500 contagi tra i dipendenti. A quei tempi i nuovi positivi in Germania erano ogni giorno intorno ai 500. Ora sfiorano (o superano) costantemente i mille e il 14 agosto hanno fatto segnare il record dall&rsquo;1 maggio: quasi 1500 contagi. Il Robert Koch Institute - che nei report quotidiani definisce la <strong>situazione &laquo;molto preoccupante&raquo;</strong> - fa sapere che i cluster sono pi&ugrave; piccoli e sparsi in diversi distretti, e legati a varie circostanze: eventi familiari, luoghi di lavoro <strong>(80 casi in un cantiere navale di Amburgo)</strong>, case di riposo, e un numero crescente di contagi tra i <strong>vacanzieri di ritorno dall&rsquo;estero</strong>. Soprattutto giovani: nella seconda settimana di agosto l&rsquo;et&agrave; media dei nuovi malati era di <strong>34 anni</strong>. Il focolaio pi&ugrave; grande rimane quello di Mamming, nel distretto bavarese del Dingolfing-Landau, dove a inizio agosto oltre 500 persone sono risultate positive: pi&ugrave; della met&agrave; sono <strong>lavoratori stagionali</strong> impiegati nella raccolta dei cetrioli, gli altri lavorano in due impianti di un&rsquo;azienda produttrice di conserve (che collabora con la fattoria). E mentre il governo ha predisposto tamponi obbligatori per chi torna da uno dei Paesi della lunga lista di quelli considerati &laquo;caldi&raquo;, a una festa di <strong>matrimonio</strong> a Kleve in Nordreno-Vestfalia con 110 invitati, pi&ugrave; di met&agrave; si sono infettati.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Germania" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Germania" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione matrimoni locali-o-ristoranti mattatoi " data-id="3" tagManager="event" data-nome="Belgio" data-titolo="matrimoni" data-voce1="matrimoni" data-voce2="locali o ristoranti" data-voce3="mattatoi" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/belgio.jpg" alt="Belgio ">
                    <ul class="vocette">
                    <li class="matrimoni"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/matrimoni.svg" alt="matrimoni" /> matrimoni</li>
                        <li class="locali-o-ristoranti"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/locali-o-ristoranti.svg" alt="locali o ristoranti" /> locali o ristoranti</li>
                        <li class="mattatoi"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mattatoi.svg" alt="mattatoi" /> mattatoi</li>
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/belgio.png" alt="Belgio ">
                    <h3 class="descrizione-stato">Belgio</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Luned&igrave; 22 giugno il Belgio registr&ograve; appena 22 nuovi positivi al coronavirus, in un Paese dove vivono 11,5 milioni di persone. La curva ha ricominciato a salire in modo preoccupante da fine luglio, raggiungendo il 4 agosto 724 casi in un giorno, e tenendo poi una media intorno ai 500. L&rsquo;epicentro del ritorno del virus &egrave; Anversa, citt&agrave; portuale al confine con i Paesi Bassi, dove si contano <strong>150 casi al giorno</strong> ed &egrave; stato introdotto un coprifuoco dalle 23 alle 6 del mattino; i tracciatori a fine luglio hanno ricostruito diversi contagi avvenuti in uno <strong>shisha bar</strong> (dove si fuma il narghil&eacute;), a un <strong>matrimonio</strong> e a un <strong>compleanno</strong>, soprattutto tra gli abitanti in gran parte di origine marocchina del quartiere popolare di Borgerhout. Ma se qui la situazione negli ultimi giorni &egrave; si &egrave; stabilizzata, iniziano ad allarmare di pi&ugrave; <strong>Bruxelles e Liegi</strong>. A Staden, nelle fiandre nord-occidentali, <strong>67 lavoratori di un macello</strong> sono risultati positivi. Il governo centrale belga, preoccupato da feste e incontri familiari estesi, ha ridotto il numero massimo di persone che ciascuno pu&ograve; incontrare, la cosiddetta <strong>&laquo;bolla sociale&raquo;</strong>: erano 15, ora sono 5 (e sempre le stesse). Secondo i dati dell&rsquo;istituto di sanit&agrave; pubblica Sciensano, non crescono per&ograve; i decessi - mai pi&ugrave; di 5 al giorno - ma sono raddoppiati, pur restando bassi in assoluto, i ricoveri in terapia intensiva (da 30 a circa 70 in totale). Per l&rsquo;epidemiologo Marius Gilbert, il problema maggiore &egrave; <strong>&laquo;l&rsquo;erosione dell&rsquo;attenzione&raquo;</strong>.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Belgio" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Belgio" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione miniere matrimoni contesti-familiari " data-id="4" tagManager="event" data-nome="Polonia" data-titolo="miniere" data-voce1="miniere" data-voce2="matrimoni" data-voce3="contesti familiari" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/polonia.jpg" alt="Polonia ">
                    <ul class="vocette">
                    <li class="miniere"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/miniere.svg" alt="miniere" /> miniere</li>
                        <li class="matrimoni"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/matrimoni.svg" alt="matrimoni" /> matrimoni</li>
                        <li class="contesti-familiari"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/contesti-familiari.svg" alt="contesti familiari" /> contesti familiari</li>
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/polonia.png" alt="Polonia ">
                    <h3 class="descrizione-stato">Polonia</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">L&rsquo;8 agosto la Polonia ha registrato 863 nuovi casi di coronavirus: il picco (replicato pochi giorni dopo) di un trend in salita da inizio luglio, in un Paese che non &egrave; mai riuscito ad abbattere davvero i contagi. La regione pi&ugrave; colpita &egrave; quella della Slesia, dove pi&ugrave; di <strong>1200 minatori</strong> di tre diverse compagnie del carbone hanno contratto il virus nelle ultime settimane, per un totale - da inizio pandemia - di diverse migliaia. La maggior parte lavora per Polska Grupa Gornicza, il pi&ugrave; grande produttore di carbone fossile d&rsquo;Europa. Il 6 agosto il governo aveva reintrodotto misure restrittive come l&rsquo;obbligo di mascherina anche all&rsquo;aperto in alcune regioni del centro e del sud del Paese: anche il voivodato della Piccola Polonia, la Malopolska - il cui governatore ha annunciato di essere positivo - ha diversi focolai in particolare a <strong>Cracovia e Nowy Targ</strong>. A un <strong>matrimonio</strong> a Lukowica con 80 invitati, 24 sono poi risultati positivi al coronavirus, tra cui i membri della band (che prima del tampone erano stati anche a un altro matrimonio).</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Polonia" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Polonia" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione matrimoni feste rientri-dall-estero luoghi-di-lavoro" data-id="5" tagManager="event" data-nome="Grecia" data-titolo="matrimoni" data-voce1="matrimoni" data-voce2="feste" data-voce3="rientri dall'estero" data-voce4="luoghi di lavoro">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/grecia.jpg" alt="Grecia ">
                    <ul class="vocette">
                    <li class="matrimoni"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/matrimoni.svg" alt="matrimoni" /> matrimoni</li>
                        <li class="feste"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/feste.svg" alt="feste" /> feste</li>
                        <li class="rientri-dall-estero"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/rientri-dall-estero.svg" alt="rientri dall'estero" /> rientri dall'estero</li>
                        <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/grecia.png" alt="Grecia ">
                    <h3 class="descrizione-stato">Grecia</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Il 7 agosto l&rsquo;intera isola di Poros &egrave; entrata in quarantena, dopo che 13 persone sono risultate positive al coronavirus. La misura &egrave; stata estesa fino al 24 agosto e applicata anche ad Antiparos. La curva dei contagi cresce in tutto il Paese a livelli mai raggiunti: <strong>a Ferragosto 251 nuovi infetti</strong>, record da inizio pandemia. Un focolaio che ha coinvolto oltre 30 persone &egrave; partito in una <strong>casa di riposo</strong> a Salonicco: secondo le autorit&agrave;, a portare il virus nella struttura sarebbe stato un dipendente entrato in contatto con un giovane uomo risultato positivo al coronavirus dopo una <strong>vacanza</strong> e un concerto sulla penisola di Halkidiki; a inizio agosto era stato individuato un altro cluster scaturito da un matrimonio ad Alessandropoli. Secondo le autorit&agrave;, la trasmissione del virus &egrave; dovuta principalmente <strong>ai viaggi dei greci nei Balcani</strong>, agli eventi sociali e agli assembramenti nei locali &ndash; 7 contagi sono stati registrati in un bar sulla spiaggia di Mykonos, che &egrave; stato chiuso &ndash; e ai mezzi di trasporto pubblico. Come ha spiegato il premier Kyriakos Mitsotakis nei giorni scorsi, l&rsquo;aumento dei contagi &egrave; dovuto principalmente a un <strong>rilassamento</strong> dei cittadini rispetto alle norme di distanziamento sociale, visto che soltanto il 10% dei casi &egrave; importato dall&rsquo;estero. Chi torna dalla Grecia in Italia deve sottoporsi a un tampone.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Grecia" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Grecia" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione feste locali-o-ristoranti rientri-dall-estero contesti-familiari" data-id="6" tagManager="event" data-nome="Croazia" data-titolo="feste" data-voce1="feste" data-voce2="locali o ristoranti" data-voce3="rientri dall'estero" data-voce4="contesti familiari">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/croazia.jpg" alt="Croazia ">
                    <ul class="vocette">
                    <li class="feste"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/feste.svg" alt="feste" /> feste</li>
                        <li class="locali-o-ristoranti"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/locali-o-ristoranti.svg" alt="locali o ristoranti" /> locali o ristoranti</li>
                        <li class="rientri-dall-estero"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/rientri-dall-estero.svg" alt="rientri dall'estero" /> rientri dall'estero</li>
                        <li class="contesti-familiari"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/contesti-familiari.svg" alt="contesti familiari" /> contesti familiari</li>
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/croazia.png" alt="Croazia ">
                    <h3 class="descrizione-stato">Croazia</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Dopo una prima ondata molto lieve, con un numero di casi mai oltre i 100 al giorno, azzerati a fine maggio, la Croazia sta vivendo un ritorno del coronavirus con un numero pi&ugrave; alto di contagi: il 14 agosto sono stati 208 in un giorno. Nella regione di Vukovar e della Sirmia l&rsquo;attenzione si concentra soprattutto su due riunioni di famiglia, e tra i dipendenti di una residenza per anziani. C&rsquo;&egrave; stato un aumento dei casi - di cui si &egrave; parlato anche in Italia - nella regione costiera, tra <strong>feste e assembramenti</strong> in luoghi affollati. Nella zona di <strong>Spalato</strong> un <strong>matrimonio</strong> ha generato molte infezioni, e la stessa cosa &egrave; avvenuta in Istria con alcuni casi importati: soprattutto qui nelle ultime due settimane sono aumentati molto i casi, ma i focolai sono stati tutti individuati, anche grazie al tracciamento con l&rsquo;app &laquo;Stop Covid-19&raquo; . Nell&rsquo;ultima settimana le autorit&agrave; sanitarie hanno detto di aver visto nuovi casi associati a <strong>locali notturni, soprattutti sulla costa</strong>, con infezioni da Covid tra i turisti stranieri e croati. Quasi tutti sono persone giovani e con pochi sintomi. Per questo il governo ha recentemente rafforzato le misure, rendendo la mascherina obbligatoria anche all&rsquo;aperto dove non si pu&ograve; mantenere la distanza. E ha avvertito che la fonte maggiore di possibili nuove infezioni sono <strong>bar, discoteche, riunioni di famiglia</strong> e incontri con gruppi di estranei.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Croazia" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Croazia" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione rientri-dall-estero contesti-familiari  " data-id="7" tagManager="event" data-nome="Bosnia" data-titolo="rientri dall'estero" data-voce1="rientri dall'estero" data-voce2="contesti familiari" data-voce3="" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/bosnia.jpg" alt="Bosnia ">
                    <ul class="vocette">
                    <li class="rientri-dall-estero"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/rientri-dall-estero.svg" alt="rientri dall'estero" /> rientri dall'estero</li>
                        <li class="contesti-familiari"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/contesti-familiari.svg" alt="contesti familiari" /> contesti familiari</li>
                        
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/bosnia.png" alt="Bosnia ">
                    <h3 class="descrizione-stato">Bosnia</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Il Paese &egrave; nel pieno della prima ondata: tra marzo e aprile - con un lockdown &laquo;preventivo&raquo; - aveva tenuto i casi giornalieri sempre sotto i 100. Ora ha raggiunto i 700 positivi in un giorno, quadruplicando in media i numeri da met&agrave; giugno a inizio agosto. <strong>L&rsquo;80% degli oltre 13mila infettati da inizio pandemia ha contratto il virus da maggio in avanti</strong>, quando le restrizioni sono state allentate. Anche i decessi sono aumentati nello stesso periodo, arrivando a quasi 400 in totale. L&rsquo;epidemia in un primo momento si &egrave; diffusa in particolare a Banja Luka, nella Republika Srpska; ora anche Sarajevo &egrave; stata colpita, con molti <strong>casi &laquo;di ritorno&raquo;</strong> dalla regione serba di Sandjak - dove molti bosniaci hanno legami familiari - e da piccoli focolai in altre citt&agrave;, tra cui Tesanj. La Federazione ha decretato lo stato di epidemia solo due settimane fa, introducendo l&rsquo;obbligo di mascherina. Ma il problema principale, ha spiegato Sebija Izetbegovic, capo del centro clinico dell&rsquo;universit&agrave; di Sarajevo, &egrave; che <strong>&laquo;le persone non stanno rispettando le regole</strong>: di questo passo ne dovremo introdurre altre pi&ugrave; stringenti&raquo;.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Bosnia" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Bosnia" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione scuole chiese  " data-id="8" tagManager="event" data-nome="Israele" data-titolo="scuole" data-voce1="scuole" data-voce2="chiese" data-voce3="" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/israele.jpg" alt="Israele ">
                    <ul class="vocette">
                    <li class="scuole"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/scuole.svg" alt="scuole" /> scuole</li>
                        <li class="chiese"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/chiese.svg" alt="chiese" /> chiese</li>
                        
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/israele.png" alt="Israele ">
                    <h3 class="descrizione-stato">Israele</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">La prima ondata israeliana aveva raggiunto un picco di 628 casi a inizio aprile, per spegnersi a fine maggio quando i contagi erano poco pi&ugrave; di una decina al giorno. Poi la trasmissione del virus si &egrave; intensificata, toccando quota 2.500 il 28 luglio, e rimanendo sempre oltre il migliaio ad agosto. A spingere la seconda ondata &egrave; stata la decisione del governo di <strong>riaprire le scuole</strong> per finire il semestre prima della pausa estiva, quando quasi <strong>2 mila tra studenti e insegnanti hanno poi contratto il virus</strong> negli istituti, ma anche la continua retromarcia sulle regole per ristoranti, piscine e spiagge, che ha confuso e fatto infuriare (con diverse proteste in piazza) gli israeliani senza lavoro a causa della pandemia. Diversi contagi sono scaturiti anche nei <strong>luoghi religiosi</strong>. Il colpevole, ora, &egrave; identificato nel primo ministro Benjamin Netanyahu, di cui solo un terzo della popolazione si dice soddisfatto in un questa crisi sanitaria. Il principale focolaio del Paese &egrave; <strong>Gerusalemme</strong>, dove oltre 12 mila persone sono state contagiate da marzo e gli ospedali operano ben oltre la massima capacit&agrave;. In totale, nel Paese, oltre 92 mila persone sono risultate positive, e le vittime sono state poco pi&ugrave; di 670. Nei giorni scorsi Netanyahu ha confermato che il numero di contagi resta alto rispetto al resto del mondo, che i casi aumentano ma hanno rallentato limitando cos&igrave; i rischi per il sistema sanitario. Il primo ministro ha messo per&ograve; in guardia i cittadini, invitandoli a non essere superficiali nella prevenzione: la situazione, ha spiegato, potrebbe peggiorare ancora a settembre, quando riapriranno le scuole.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Israele" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Israele" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione carceri aziende-agricole luoghi-di-lavoro " data-id="9" tagManager="event" data-nome="California" data-titolo="carceri" data-voce1="carceri" data-voce2="aziende agricole" data-voce3="luoghi di lavoro" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/california.jpg" alt="California ">
                    <ul class="vocette">
                    <li class="carceri"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/carceri.svg" alt="carceri" /> carceri</li>
                        <li class="aziende-agricole"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/aziende-agricole.svg" alt="aziende agricole" /> aziende agricole</li>
                        <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/california.png" alt="California ">
                    <h3 class="descrizione-stato">California</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Lo Stato aveva registrato il primo caso il 29 febbraio ma, anche grazie al primo lockdown indetto sul territorio americano nell&rsquo;area di San Francisco, i contagi erano rimasti pochi e circoscritti. La situazione che &egrave; divenuta improvvisamente allarmante sul finire di giugno quando la California sembrava pronta a ripartire: il governatore Gavin Newsom ha annunciato allora il contrordine, chiudendo bar, ristoranti, spiagge e zoo e rendendo obbligatoria la mascherina. I primi focolai, come nel resto del Paese, si sono avuti nelle <strong>prigioni</strong>, in particolare in quella durissima di <strong>San Quentin</strong> dove nei giorni scorsi &egrave; stata annunciata la 26esima vittima: in totale ci sono stati oltre <strong>2.200 contagi</strong>, oltre met&agrave; della popolazione carceraria. Il picco nello Stato &egrave; stato toccato il 22 luglio, quando sono stati registrati 12.807 contagi. Ora sono poco oltre i 5 mila, ma continuano a crescere le vittime. Dal sud arriva la maggior parte dei casi, in particolare dalla contea di Los Angeles e da quelle limitrofe, ma il principale hotspot &egrave; ora nella <strong>Central Valley</strong>, area rurale che finora non era stata coinvolta: la maggior parte dei <strong>lavoratori agricoli</strong> sono immigrati arrivati per la stagione del raccolto, e hanno paura di fare il tampone perch&eacute; temono di perdere lo stipendio. Altri piccoli cluster sono stati trovati in una <strong>catena di ipermercati</strong>. In totale, in California, i casi confermati sono oltre 620 mila, il massimo fra gli stati americani, con 11mila vittime: pi&ugrave; del 40% viveva in case di riposo.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="California" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="California" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione rientri-dall-estero luoghi-di-lavoro  " data-id="10" tagManager="event" data-nome="Australia" data-titolo="rientri dall'estero" data-voce1="rientri dall'estero" data-voce2="luoghi di lavoro" data-voce3="" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/australia.jpg" alt="Australia ">
                    <ul class="vocette">
                    <li class="rientri-dall-estero"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/rientri-dall-estero.svg" alt="rientri dall'estero" /> rientri dall'estero</li>
                        <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                        
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/australia.png" alt="Australia ">
                    <h3 class="descrizione-stato">Australia</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Melbourne si &egrave; ritrovata al centro di un focolaio che ha costretto le autorit&agrave; a indurre uno dei lockdown pi&ugrave; rigidi del pianeta, che potrebbe durare anche sei settimane. Come scrive il New York Times, &egrave; il risultato di un successo precedente: la prima ondata, cominciata a met&agrave; marzo, era dovuta principalmente a <strong>viaggiatori</strong> di ritorno dall&rsquo;estero e ai loro contatti. Una volta capito questo, le frontiere sono state chiuse, gli alberghi messi in quarantena e la pandemia domata. Il Paese pensava di aver sconfitto il virus a giugno, ma nel sistema di prevenzione c&rsquo;era una falla: i viaggiatori in quarantena hanno contagiato le guardie di sicurezza degli <strong>hotel</strong>, che a loro volta hanno portato il virus a <strong>casa</strong>. Anche a Sydney, il principale focolaio &egrave; legato a un albergo, il Crossroads Hotel, dove si sono registrati 42 casi: oltre all&rsquo;hotel, c&rsquo;&egrave; un <strong>ristorante</strong> molto frequentato dai locali, che ha aumentato il contagio comunitario. A Melbourne, da met&agrave; luglio, le <strong>mascherine sono diventate obbligatorie</strong>, ma i contagi non si sono arrestati. Il picco di contagi si &egrave; registrato il 30 luglio, con 753 casi, poi i casi si sono assestati su una media giornaliera di 500, in costante calo. In tutto il Paese, i casi sono oltre 23 mila e le vittime 285.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Australia" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Australia" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione luoghi-di-lavoro contesti-familiari  " data-id="11" tagManager="event" data-nome="Nuova Zelanda" data-titolo="luoghi di lavoro" data-voce1="luoghi di lavoro" data-voce2="contesti familiari" data-voce3="" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/nuova-zelanda.jpg" alt="Nuova Zelanda ">
                    <ul class="vocette">
                    <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                        <li class="contesti-familiari"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/contesti-familiari.svg" alt="contesti familiari" /> contesti familiari</li>
                        
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/nuova-zelanda.png" alt="Nuova Zelanda ">
                    <h3 class="descrizione-stato">Nuova Zelanda</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Dopo 102 giorni senza nuovi casi, la Nuova Zelanda il 12 agosto ha registrato la positivit&agrave; di una famiglia di 4 persone ad Auckland, costringendo le autorit&agrave; a una sorta di <strong>nuovo lockdown</strong> nella citt&agrave; in cui abitano 1,7 milioni di abitanti (e dove &egrave; stata subito messa in campo una massiccia campagna di tamponi e tracciamento). Intanto per&ograve; i casi sono diventati una cinquantina, 10 dei quali nel <strong>magazzino di surgelati</strong> della catena Americold dove lavora il 50enne che per primo ha accusato dei sintomi, e altri 5 nell&rsquo;ufficio di un istituto finanziario dove &egrave; impiegato un altro membro della famiglia. Siccome nessuno di loro aveva viaggiato oltre mare, le autorit&agrave; stanno ancora indagando per capire se il virus sia arrivato <strong>via cargo</strong> sulle confezioni dei surgelati, forse da un altro magazzino nella regione australiana di Victoria, dove l&rsquo;epidemia &egrave; ancora forte. Ma per ora sono soltanto ipotesi senza riscontri, in attesa delle analisi sulle superfici dei luoghi di lavoro. Dal magazzino a sud di Auckand, molti hanno portato il virus dalle proprie famiglie.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Nuova Zelanda" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Nuova Zelanda" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione contesti-familiari scuole locali-o-ristoranti " data-id="12" tagManager="event" data-nome="Giappone" data-titolo="contesti familiari" data-voce1="contesti familiari" data-voce2="scuole" data-voce3="locali o ristoranti" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/giappone.jpg" alt="Giappone ">
                    <ul class="vocette">
                    <li class="contesti-familiari"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/contesti-familiari.svg" alt="contesti familiari" /> contesti familiari</li>
                        <li class="scuole"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/scuole.svg" alt="scuole" /> scuole</li>
                        <li class="locali-o-ristoranti"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/locali-o-ristoranti.svg" alt="locali o ristoranti" /> locali o ristoranti</li>
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/giappone.png" alt="Giappone ">
                    <h3 class="descrizione-stato">Giappone</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Ad aprile il Giappone aveva contenuto con successo la prima ondata di coronavirus, a luglio la pandemia &egrave; arrivata in modo molto pi&ugrave; aggressivo nella regione di Kanto, con <strong>Tokyo</strong> che &egrave; diventata il principale focolaio del Paese. Fra la fine di luglio e l&rsquo;inizio di agosto, sono stati registrati oltre <strong>450 contagi al giorno</strong>, con quasi 4 mila persone attualmente infette nella sola capitale, dove gli ospedali si stanno ingolfando. Met&agrave; dei nuovi contagi non sono tracciabili, scrive The Diplomat, mentre l&rsquo;altra met&agrave; deriva da ambienti familiari, gruppi sportivi, <strong>dormitori universitari, scuole superiori e uffici</strong>, oltre che da ristoranti, bar e karaoke. <strong>A Tokyo il 62% dei casi riguarda giovani di venti e trent&rsquo;anni</strong>, che le autorit&agrave; stanno invitando a mantenere il distanziamento sociale per salvaguardare le persone pi&ugrave; anziane. Ci sono per&ograve; polemiche sulla campagna governativa per stimolare il turismo domestico: l&rsquo;inizio delle vacanze estive potrebbe portare a un aumento dei contagi, dovuto in particolare alle famiglie che dalla capitale tornano nelle citt&agrave; d&rsquo;origine. Se il governo sta cercando di far ripartire l&rsquo;economia, seppur con cautela, cerca al tempo stesso di mantenere il Paese sicuro in vista delle Olimpiadi del prossimo anno: la governatrice di Tokyo Yuriko Koike si &egrave; detta pronta a indire un nuovo <strong>stato di emergenza</strong> se il trend dei contagi restasse inalterato. Fino alla fine di agosto, bar e karaoke in citt&agrave; chiuderanno alle 10, con i titolari dei locali che riceveranno un bonus di circa 1.600 euro in contanti se rispetteranno le restrizioni. Nell&rsquo;isola di <strong>Okinawa</strong>, intanto, &egrave; stato dichiarato uno stato di emergenza di due settimane per evitare il collasso del sistema ospedaliero.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Giappone" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Giappone" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione chiese luoghi-di-lavoro feste locali-o-ristoranti" data-id="13" tagManager="event" data-nome="Corea del Sud" data-titolo="chiese" data-voce1="chiese" data-voce2="luoghi di lavoro" data-voce3="feste" data-voce4="locali o ristoranti">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/corea-del-sud.jpg" alt="Corea del Sud ">
                    <ul class="vocette">
                    <li class="chiese"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/chiese.svg" alt="chiese" /> chiese</li>
                        <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                        <li class="feste"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/feste.svg" alt="feste" /> feste</li>
                        <li class="locali-o-ristoranti"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/locali-o-ristoranti.svg" alt="locali o ristoranti" /> locali o ristoranti</li>
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/corea-del-sud.png" alt="Corea del Sud ">
                    <h3 class="descrizione-stato">Corea del Sud</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">La seconda ondata, in Corea del Sud, &egrave; cominciata verso la fine di giugno. Lo hanno annunciato il 22 del mese le autorit&agrave; sanitarie, nonostante i numeri dei contagi fossero ancora piuttosto bassi. Il <strong>modello coreano</strong> &ndash; basato su una app di contact tracing che ha suscitato qualche dubbio riguardo a privacy e sicurezza &ndash; aveva contenuto con straordinaria efficacia la prima ondata, conclusa ufficialmente ad aprile quando i casi erano arrivati a zero, ma a partire da maggio sono cominciati a spuntare focolai in tutto il Paese, soprattutto <strong>nei nightclub della capitale Seul</strong>. A far ripartire la trasmissione del virus, avevano spiegato per&ograve; le autorit&agrave; sanitarie, &egrave; stato in particolare un weekend di festa all&rsquo;inizio di maggio. A fine luglio i nuovi casi hanno superato per la prima volta in quattro mesi quota 100: fra i 113 contagiati c&rsquo;erano <strong>36 operai</strong> di ritorno dall&rsquo;Iraq e 32 membri dell&rsquo;equipaggio di un <strong>mercantile russo</strong>. Il 13 agosto hanno toccato i 279 in un solo giorno, il peggior numero degli ultimi cinque mesi: di questi, oltre un centinaio sono attribuibili alla <strong>chiesa cristiana di Sarang Jeil</strong> di Seul, un secondo grande focolaio dopo quello della comunit&agrave; (secondo alcuni quasi una setta) di Shincheonji, che a marzo provoc&ograve; in particolare a Daegu migliaia di contagi. Altri cluster pi&ugrave; piccoli sono emersi tra i lavoratori di una <strong>catena di fast food</strong>, in alcuni uffici e in diverse scuole superiori.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Corea del Sud" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Corea del Sud" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione locali-o-ristoranti luoghi-di-lavoro  " data-id="14" tagManager="event" data-nome="Hong Kong" data-titolo="locali o ristoranti" data-voce1="locali o ristoranti" data-voce2="luoghi di lavoro" data-voce3="" data-voce4="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/hong-kong.jpg" alt="Hong Kong ">
                    <ul class="vocette">
                    <li class="locali-o-ristoranti"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/locali-o-ristoranti.svg" alt="locali o ristoranti" /> locali o ristoranti</li>
                        <li class="luoghi-di-lavoro"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/luoghi-di-lavoro.svg" alt="luoghi di lavoro" /> luoghi di lavoro</li>
                        
                        
                    </ul>                    
                </div>
                <div class="descrizione-text">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/hong-kong.png" alt="Hong Kong ">
                    <h3 class="descrizione-stato">Hong Kong</h2>    
                    <h2 class="descrizione-titolo"></h2>


                    
                        <p class="descrizione-testo">Hong Kong &egrave; stata un modello nel contenimento del coronavirus. Ha subito chiuso la frontiera con il continente cinese, a gennaio, nonostante il costo enorme per la sua economia turistica e commerciale. Ha imposto un sistema di quarantena rigoroso per chi rientrava in citt&agrave; e tracciato gli asintomatici, confinandoli a casa. Il sistema ha sfruttato l&rsquo;esperienza della Sars 2002-2003, afferrando subito la gravit&agrave; della situazione quando ancora Pechino era incerta. In sei mesi la City di 7,2 milioni di abitanti ha registrato 1.958 casi e sofferto solo 12 morti. Ma quando il peggio sembrava alle spalle e le regole erano state allentate, il 5 luglio, si &egrave; ammalato lo chef di un <strong>ristorante</strong>. Da l&igrave; &egrave; partita la nuova ondata, che ha costretto a un <strong>nuovo lockdown</strong>: per la prima volta hanno chiuso anche i ristoranti. A inizio agosto la governatrice Carrie Lam ha annunciato test gratuiti per tutti i residenti. Secondo il South China Morning Post, a far risalire i contagi sono stati anche i <strong>lavoratori domestici</strong> in attesa di impiego, che risiedono in appartamenti affollati messi a disposizione dalle agenzie che li rappresentano. A far crescere i contagi a luglio sono stati gli <strong>equipaggi degli aerei e quelli delle navi</strong>, che avrebbero importato il virus. Sui 111 casi importati dall&rsquo;8 luglio alla prima settimana di agosto, 34 sono piloti di aereo, steward e marinai (30% del totale). Poi le misure restrittive hanno ricominciato a dare frutti: i casi giornalieri, dai 150 di fine luglio, ora sono tornati un terzo.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Hong Kong" data-cognome="" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Hong Kong" data-cognome="" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
    </ul>
    
    <a href="#0" class="cd-top" tagManager="event">Torna su</a>
     
</section>
