<section class="copertina">
    <div class="cont">
	    <div class="titoli">
		      <h1>Nuovi focolai nel mondo: che cosa li ha provocati?</h1>
		      <h3>Quindici Paesi in cui il coronavirus &egrave; tornato: come e dove sono avvenuti i contagi della seconda ondata</h3>
		      <p class="autore">
		      	di Francesco Giambertone e Andrea Marinelli 
		      </p>

		      <p class="descrizione">Il virus ha ricominciato a circolare con forza in molti Paesi che avevano &laquo;vinto&raquo; la prima battaglia. Dalla Spagna all'Australia, dal Belgio a Israele, le situazioni e i contesti che hanno fatto rialzare le curve dei contagi sono spesso gli stessi: i luoghi di lavoro, dai mattatoi alle fabbriche e agli uffici; i matrimoni, le feste, le riunioni di famiglia; le chiese e le scuole, i ristoranti e le case, oltre ai rientri di chi si &egrave; ammalato in vacanza all&rsquo;estero. Alcune circostanze sembrano aver favorito le infezioni: i luoghi chiusi e poco ventilati, l&rsquo;assenza del distanziamento e i comportamenti incauti dei nuovi positivi, che quasi ovunque hanno un&rsquo;et&agrave; media pi&ugrave; bassa rispetto ai mesi scorsi. Per ora non ci sono gravi conseguenze su ricoveri e decessi. Ma le autorit&agrave; sanitarie hanno ammonito i cittadini: avete abbassato la guardia. Ecco come ci si contagia nella &laquo;seconda ondata&raquo;. E cosa possiamo imparare per evitarlo.</p>

				<style>
				section.copertina .titoli p.descrizione{
					font-family: title-regular, serif;
				    font-size: 1.2em;
				    line-height: 1.5em;
				    margin-top: 20px;
				}
				</style>

		</div>
	</div>	  
</section>
