{{#ifCond include "!=" "TRUE"}}
<!DOCTYPE html>
<html>

<head>
    <!--#include virtual="/includes2013/SSI/config/global.config" -->
    <!--#include virtual="/shared/reportage/includes/set_var.shtml"-->
    <!-- qui sono in master, check it! -->
    <meta http-equiv="content-type" content="text/html; iso-8859-1">
    <meta charset="iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--#include virtual="head.inc"-->

    <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- Tema speciale listjs basato su bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/material/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="assets/material/css/ripples.min.css" />


    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
    <script type="text/javascript">var config={video: { alembikUrl:"http://reportage.corriere.it/wp-content/themes/blog_reportage/shared/reportage/player/get_alembik.php",pathPlayerFallback:"<!--#echo var="WEB_ROOT_STATIC" -->/shared/reportage/player/"}}</script>
    <script src="/shared/reportage/js/corriere.speciale.head.min.js" type="text/javascript" charset="utf-8"></script>


    <!--Timestamp for ChartBeat-->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <!--Visual Revenue Reader Response Tracking Script (v6) -->
    <script type="text/javascript">
        var VR_ok = true;
        var _vrq = _vrq || [];
        _vrq.push(['id', 104]);
        _vrq.push(['automate', false]);
        _vrq.push(['track', function(){}]);
        (function(d, a){
            var s = d.createElement(a),
            x = d.getElementsByTagName(a)[0];
            s.async = true;
            s.src = 'http://a.visualrevenue.com/vrs.js';

            x.parentNode.insertBefore(s, x);
        })(document, 'script');
    </script>
    <!-- End of VR RR Tracking Script - All rights reserved -->


    <script src="/shared/reportage/js/corriere.speciale.app.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="assets/material/js/material.min.js" type="text/javascript"></script>
    <script src="assets/material/js/ripples.min.js" type="text/javascript"></script>
    <script src="js/bigtext.js" type="text/javascript"></script>
    <script src="bower_components/jquery/src/jquery.js"></script>
    <script src="asset/script/js.js" type="text/javascript"></script>


</head>
<body>


<div class="loader">
    <img src="img/CdS-030.svg" alt="Loading...">
</div>


<div class="specialeCorriere">

  {{#ifCond testata "==" "default"}}
  <header class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       <div class="loghi col-md-4">
          <a href="http://www.corriere.it" title="Corriere della Sera.it" class="logo"><img src="http://images2.corriereobjects.it/test/logo_corriereW.svg" width="100%"></a>
       </div>
       <div class="col-md-4 col-md-offset-4">
           <a class="j-facebook" title="Facebook" href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
           <a class="j-twitter" title="Tweet" href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
           <a class="j-gplus" title="Google+" href="javascript:void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></span></a>
           <a class="j-mail" title="Email" href="mailto:?Subject=Donne%20Leader%20-%20Corriere.it&amp;Body=http://local.corriere.it/cronache/stili-testata-footer-loader/index.shtml"><i class="fa fa-envelope" aria-hidden="true"></i></span></a>
       </div>
     </div>
   </div>
  </header>
  {{/ifCond}}
{{/ifCond}}


<article>

{{#each ordine}}

  {{#if (equals this "_SELF_")}}
    
    <section id="domandaSingola">
      <h1>{{normalizzami ../dati.nome}}</h1>
      <h2>{{normalizzami ../dati.partito}}</h2>
      <h3>{{normalizzami ../dati.inizio}} - {{normalizzami ../dati.fine}}</h3>
      <p>
      <img src="http://images2.corriereobjects.it/elezioni-presidenziali-usa-2016/presidenti-usa/img/{{noSpace ../dati.foto}}.jpg" alt="{{normalizzami ../dati.nome}}">
      {{normalizzami ../dati.commento}}</p>
    </section>

    {{#unless ../first}} 
      <p><a href="?page={{../prev}}">Prev {{../first}}</a></p> 
    {{/unless}}
    
    {{#unless ../last}} 
      <p><a href="?page={{../next}}">Next {{../last}}</a></p> 
    {{/unless}}
    
  {{else}}

  <section id="{{this}}" class="">
    {{!-- <h1>
      {{@index}} - {{this}}
    </h1> --}}
   <!--#include virtual="../include-{{this}}.html"-->
  </section>

  {{/if}}

{{/each}}


</article>


{{#ifCond include "!=" "TRUE"}}
<!--#include virtual="/includes2013/SSI/bottom/reportages/footer.shtml" -->
</div>





        <!--#set var="sections_vr" value="reportages" -->
        <!--#include virtual="/includes2007/ssi/headers_footers/nielsen_new.html"-->

        <!-- testami in develop: sì qui sono in TEST (o meglio in branch develop) -->
    </body>
    </html>
{{/ifCond}}
