<div class="contenitoreFaccini">
    <section class="lista" id="listaDonne">
        <!--echo var="WEB_ROOT_IMG" -->
        <!--#include virtual="include-fascione.html" -->

        <div class="binario">
            <span class="tutti">mostra tutti</span>
            <ul class="list">
                {{#each data}}
                {{#if nome}}
                    <li class="donna donna-{{@index}} {{#if voce1}}{{noSpace voce1}}{{/if}} {{#if voce2}}{{noSpace voce2}}{{/if}} {{#if voce3}}{{noSpace voce3}}{{/if}} {{#if voce4}}{{noSpace voce4}}{{/if}}" data-id="{{@index}}"
                        data-nome="{{nome}}"
                        data-voce1="{{normalizzami voce1}}" data-voce2="{{normalizzami voce2}}" data-voce3="{{normalizzami voce3}}" data-voce4="{{normalizzami voce4}}" data-titolo="{{normalizzami titolo}}"
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                            {{#if [foto]}}
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/{{[foto]}}.png" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}" tagManager="event" >
                            {{else}}
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/donne.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}" tagManager="event" >
                            {{/if}}
                        </div>
                        <div class="donna-text">
                            {{#if nome}}
                                <h2 class="donna-titolo">{{{normalizzami nome}}} {{#if cognome}}<span>{{{normalizzami cognome}}}</span>{{/if}}</h2>
                            {{/if}}
                        </div>
                    </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </section>
</div>

<section class="description" id="long_desc">

    <div class="messages"></div>

    <ul class="donneList">
        {{#each data}}
        {{#if nome}}
            <li class="descrizione {{#if voce1}}{{noSpace voce1}}{{/if}} {{#if voce2}}{{noSpace voce2}}{{/if}} {{#if voce3}}{{noSpace voce3}}{{/if}} {{#if voce4}}{{noSpace voce4}}{{/if}}" data-id="{{@index}}" tagManager="event" data-nome="{{nome}}" data-titolo="{{normalizzami voce1}}" data-voce1="{{normalizzami voce1}}" data-voce2="{{normalizzami voce2}}" data-voce3="{{normalizzami voce3}}" data-voce4="{{normalizzami voce4}}">
                <div class="descrizione-image">
                    {{#if [foto]}}
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/mappa/{{[foto]}}.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}">
                    {{else}}
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/img/donne.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}">
                    {{/if}}
                    <ul class="vocette">
                    {{#if voce1}}<li class="{{noSpace voce1}}"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/{{noSpace voce1}}.svg" alt="{{normalizzami voce1}}" /> {{{normalizzami voce1}}}</li>{{/if}}
                        {{#if voce2}}<li class="{{noSpace voce2}}"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/{{noSpace voce2}}.svg" alt="{{normalizzami voce2}}" /> {{{normalizzami voce2}}}</li>{{/if}}
                        {{#if voce3}}<li class="{{noSpace voce3}}"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/{{noSpace voce3}}.svg" alt="{{normalizzami voce3}}" /> {{{normalizzami voce3}}}</li>{{/if}}
                        {{#if voce4}}<li class="{{noSpace voce4}}"><img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/{{noSpace voce4}}.svg" alt="{{normalizzami voce4}}" /> {{{normalizzami voce4}}}</li>{{/if}}
                    </ul>                    
                </div>
                <div class="descrizione-text">
                     {{#if [foto]}}
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/{{[foto]}}.png" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}">
                    {{else}}
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/img/donne.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}">
                    {{/if}}  
                    <h3 class="descrizione-stato">{{{normalizzami nome}}}</h2>    
                    <h2 class="descrizione-titolo">{{{normalizzami titolo}}}</h2>


{{!--                     <ul class="descrizione-altro">
                        {{#if voce1}} <li class="descrizione-altro-elem {{voce1}}"><strong> {{voce1}}: </strong> {{normalizzami voce1}}</li>{{/if}}
                        {{#if voce2}} <li class="descrizione-altro-elem {{voce2}}"><strong> {{voce2}}: </strong> {{normalizzami voce2}}</li>{{/if}}
                        {{#if voce3}} <li class="descrizione-altro-elem {{voce3}}"><strong> {{voce3}}: </strong> {{normalizzami voce3}}</li>{{/if}}
                        {{#if voce4}} <li class="descrizione-altro-elem {{voce4}}"><strong> {{voce4}}</strong> {{normalizzami voce4}}</li>{{/if}}
                    </ul> --}}
                    
                    {{#if giornalista}}
                        <p class="descrizione-giornalista">di <strong>{{normalizzami giornalista}}</strong></p>
                    {{/if}}                    
                    {{#if testo}}
                        <p class="descrizione-testo">{{{normalizzami testo}}}</p>
                    {{/if}}

                    {{!-- Social --}}
                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="{{normalizzami nome}}" data-cognome="{{normalizzami cognome}}" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="{{normalizzami nome}}" data-cognome="{{normalizzami cognome}}" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
        {{/if}}  
        {{/each}}
    </ul>
    
    <a href="#0" class="cd-top" tagManager="event">Torna su</a>
     
</section>
