/* footer */

#container-pager {
  display: none;
}

#end footer {

  width: 100%;

  padding: 0;

}

#main_footer {

  position: relative

}

#main_footer.ftr_xl {

  width: 100%;

  margin: 60px auto 0 auto;

  max-width: 100%;

  background: #fff;

  padding: 0 0 30px 0;

}

#main_footer.ftr_xl:before,

#main_footer.ftr_xl:after {

  content: " ";

  display: table

}

#main_footer.ftr_xl:after {

  clear: both

}

#main_footer.ftr_xl .top {

  border-bottom: 2px solid #e5e5e5

}

#main_footer.ftr_xl .top .cds_header {

  padding: 0 25px 27px;

  overflow: hidden

}

#main_footer.ftr_xl .top .cds_header .logo {

  text-indent: -99999px;

  background: url('//images2.corriereobjects.it/includes2013/LIBS/css/assets/logo/logo_footer.svg?v=201703101016') center top no-repeat;

  float: left;

  width: 268px;

  height: 21px

}

.no-svg #main_footer.ftr_xl .top .cds_header .logo {

  background-image: url('//images2.corriereobjects.it/includes2013/LIBS/css/assets/logo/logo_footer.png?v=201703101016')

}

#main_footer.ftr_xl .top .cds_header .logo .icon-logo {

  height: 21px;

  display: block

}

#main_footer.ftr_xl .top .cds_header .trust-links {

  float: right

}

#main_footer.ftr_xl .top .cds_header .trust-links ul li {

  display: inline-block;

  color: #000000

}

#main_footer.ftr_xl .top .cds_header .trust-links ul li a {

  text-decoration: none;

  color: inherit;

  font-family: "main-light";

  font-weight: bold;

  font-size: 14px

}

#main_footer.ftr_xl .top .cds_header .arrow {

  float: right;

  margin-top: 0.625em;

  cursor: pointer;

  background-image: url('//images2.corriereobjects.it/includes2013/LIBS/css/assets/ftr_arrow_xl.png?v=201703101017');

  background-repeat: no-repeat;

  width: 14px;

  height: 8px

}

#main_footer.ftr_xl .top .cds_header .arrow.down {

  background-position: 0px 0px

}

#main_footer.ftr_xl .top .cds_header .arrow.up {

  background-position: 0px -8px

}

#main_footer.ftr_xl .top .cds_links {

  display: none;

  clear: both;

  border-top: 2px solid #e5e5e5;

  padding: 1.125em 0;

  overflow: hidden

}

#main_footer.ftr_xl .top .cds_links .section-footer-menu h4 {

  font-size: 1em;

  font-family: "main-light";

  font-weight: bold;

  color: #000;

  padding-bottom: 0.3125em

}

#main_footer.ftr_xl .top .cds_links .section-footer-menu h4 a {

  font-size: 1em;

  font-family: "main-light";

  font-weight: bold;

  color: #000;

  padding-bottom: 0.3125em;

  text-decoration: none;

  -webkit-transition: color, 0.5s, ease, 0s;

  -moz-transition: color, 0.5s, ease, 0s;

  -o-transition: color, 0.5s, ease, 0s;

  transition: color, 0.5s, ease, 0s

}

#main_footer.ftr_xl .top .cds_links .section-footer-menu h4 a:hover {

  text-decoration: underline;

  color: #4c4c4c

}

#main_footer.ftr_xl .top .cds_links .section-footer-menu ul {

  margin-bottom: 1.5em

}

#main_footer.ftr_xl .top .cds_links .section-footer-menu ul>li a {

  font-size: 0.625em;

  font-family: "main-light";

  font-weight: bold;

  color: #4c4c4c;

  text-decoration: none;

  -webkit-transition: color, 0.5s, ease, 0s;

  -moz-transition: color, 0.5s, ease, 0s;

  -o-transition: color, 0.5s, ease, 0s;

  transition: color, 0.5s, ease, 0s

}

#main_footer.ftr_xl .top .cds_links .section-footer-menu ul>li a:hover {

  text-decoration: underline;

  color: #000

}

#main_footer.ftr_xl .top .cds_links .section-footer-menu .no-sub {

  padding-bottom: 1.375em

}

#main_footer.ftr_xl .bottom {

  font-family: "main-light";

  font-weight: bold;

  font-size: 9px;

  line-height: 1.5em;

  color: #4c4c4c;

  padding: 24px 14px 16px 24px

}

#main_footer.ftr_xl .bottom ul>li {

  display: inline-block;

  color: #4c4c4c

}

#main_footer.ftr_xl .bottom ul>li>a {

  text-decoration: none;

  color: inherit

}

#main_footer.ftr_xl .bottom ul>li>a:hover {

  text-decoration: underline

}

#main_footer.ftr_xl .bottom .links_credits {

    border-right: 2px solid #b8b8b8;

    float: left;

    width: 70%;

}

#main_footer.ftr_xl .bottom .links_credits .copyright>a {

  text-decoration: none;

  color: #4c4c4c

}

#main_footer.ftr_xl .bottom .links_services {

    text-align: right;

    width: 29%;

    float: left;

}

#main_footer.ftr_xl .bottom .links_services ul.link {

  clear: both

}

#main_footer.ftr_xl .bottom .links_services .link_img {

  margin: 4px 0;

  float: right

}

#main_footer.ftr_xl .bottom .links_services .link_img a {

  text-decoration: none

}

#main_footer.ftr_xl .bottom .links_services .link_img a img {

  margin-left: 1px;

  width: auto

}

#main_footer.ftr_xs {

  margin: 30px auto 0 auto;

  padding-top: 10px;

  /* width: 320px; */

  background: #EFEFEF;

}

#main_footer.ftr_xs .shadow {

  width: 320px;

  height: 23px;

  display: none;

}

#main_footer.ftr_xs .top {

  padding: 12px 12px 0 12px;

  overflow: hidden;

  display: flex;

  justify-content: space-between

}

#main_footer.ftr_xs .top .logo {

  float: left;

  background: url('//images2.corriereobjects.it/includes2013/LIBS/css/assets/ftr_logo_xs.svg?v=201703101017') no-repeat;

  width: 12.8125em;

  height: 1.0625em

}

.no-svg #main_footer.ftr_xs .top .logo {

  background-image: url('//images2.corriereobjects.it/includes2013/LIBS/css/assets/ftr_logo_xs.png?v=201703101017')

}

#main_footer.ftr_xs .top a {

  display: flex;

  cursor: pointer;

  color: #666666;

  font-family: Roboto;

  font-size: 12px;

  text-transform: uppercase;

  text-decoration: none;

  padding: 0.3125em 0 0.625em 0.625em

}

#main_footer.ftr_xs .top a img {

  height: 16px;

  width: 16px;

  margin-top: 1px;

  margin-left: 5px

}

#main_footer.ftr_xs .top .scrollup {

  display: flex

}

#main_footer.ftr_xs .bottom {

  background: #EFEFEF;

  font-family: Roboto;

  font-style: normal;

  font-weight: normal;

  line-height: 17px;

  font-size: 12px;

  color: #666666;

  padding: 0px 16px 16px 16px

}

@media (max-width: 359px) {

  #main_footer.ftr_xs .bottom {

    font-size: 10px !important

  }

}

#main_footer.ftr_xs .bottom div {

  display: flex;

  justify-content: space-around;

  padding-top: 15px;

  margin-top: 5px

}

#main_footer.ftr_xs .bottom div a {

  color: #29ABEF;

  text-transform: uppercase;

  text-decoration: none;

  font-weight: bold;

  text-align: center

}

#main_footer.ftr_xs .bottomDown {

  background-color: white;

  display: flex;

  justify-content: space-around;

  padding: 12px 12px 20px 12px

}

#main_footer.ftr_xs .bottomDown a {

  font-family: Roboto;

  font-style: normal;

  font-weight: normal;

  text-transform: uppercase;

  text-decoration: none;

  line-height: 17px;

  font-size: 12px;

  color: #666666

}

@media (max-width: 359px) {

  #main_footer.ftr_xs .bottomDown a {

    font-size: 10px !important

  }

}

#main_footer #lista_comuni {

  margin-bottom: 50px

}

#main_footer #lista_comuni .tit {

  font-family: "main-condensed_bold";

  font-size: 0.875em;

  line-height: 1.25em;

  color: #333;

  text-transform: uppercase

}

#main_footer #lista_comuni .tit a {

  text-decoration: none;

  color: #333;

  -webkit-transition: color, 0.3s, ease, 0s;

  -moz-transition: color, 0.3s, ease, 0s;

  -o-transition: color, 0.3s, ease, 0s;

  transition: color, 0.3s, ease, 0s

}

#main_footer #lista_comuni .tit a:hover {

  color: #666;

  text-decoration: none

}

#main_footer #lista_comuni a {

  font-family: main-condensed_regular;

  color: #000;

  font-size: 0.875em;

  line-height: 1.25em;

  text-decoration: none;

  font-size: 12px

}

@media only screen and (max-width: 740px) {

  .footer-bar {

    position: fixed;

    bottom: 0;

    height: 3em;

    width: 100%;

    z-index: 10000;

    background-color: #ffffff

  }

  .footer-bar .countNum {

    position: absolute;

    background-color: #fc0100;

    left: auto;

    top: -10px;

    padding-top: 1px;

    border-radius: 10px;

    margin-left: -10px;

    box-shadow: 1px 2px 4px #888888;

    height: 20px;

    width: 20px;

    color: #fff

  }

  .footer-bar .shadow {

    background: transparent url('//images2.corriereobjects.it/includes2013/LIBS/css/assets/zappingBottomShadow.png?v=201703101017') no-repeat bottom center;

    height: 20px;

    width: 100%;

    position: absolute;

    top: -20px

  }

  .footer-bar span {

    float: left;

    text-align: center;

    text-transform: uppercase;

    font-family: 'Pragati Narrow', sans-serif;

    font-weight: 400;

    background-color: transparent;

    opacity: 1;

    height: auto

  }

  .footer-bar span.news {

    width: 16%

  }

  .footer-bar span.news a {

    background: url("//images2.corriereobjects.it/includes2013/LIBS/css/assets/ic_home_white_48px.svg?v=201704210948") #29abef no-repeat center;

    background-size: 43%;

    text-indent: -9999px

  }

  .footer-bar span.opinioni {

    width: 22%

  }

  .footer-bar span.inchieste {

    width: 23%

  }

  .footer-bar span.societa {

    width: 22%

  }

  .footer-bar span.video {

    width: 16%

  }

  .footer-bar span a {

    color: #29abef;

    text-decoration: none;

    display: block;

    padding: 1em 0.625em

  }

  .footer-bar .swiper-pagination-bullet-active a {

    font-family: 'Pragati Narrow', sans-serif;

    font-weight: 900;

    background-color: #29abef;

    color: #ffffff

  }

  .footer-bar:before {

    display: none;

    width: 100%;

    height: 16px;

    background: url("//images2.corriereobjects.it/includes2013/LIBS/css/assets/zappingBottomShadow.png?v=201703101017") no-repeat center top transparent;

    background-size: 16px 100%;

    bottom: 100%;

    content: ""

  }

}