.container .main-content section, .container .md_is_artlist section, .type-articolo .container .articolo section {
	border: 0 !important
}

section.intro{
	margin-top:0;
}

section.intro p{
	font-family: title-regular ;
	font-size: 18px;
	line-height: 1.4;
}

section#questions{
	margin-top:2em;
	padding-top:1em;
	border-top:1px dashed #666;
}

section#questions input{
	width:100%;
	margin:0 0 1em 0;
	height:3em;
}

section#questions label{
	font-family: main-condensed_bold ;
	font-size: 14px;
	line-height: 14px;
	margin-bottom:0;
	padding-bottom:0;
}

section#questions ul{
	color: #333;
	text-decoration: none;
	font-family: main-condensed_regular;
	font-size: 18px;
	line-height: 24px;
	margin-top: 0px;
	list-style-type:decimal;
	margin-left: 15px;
}
section#questions ul li{
	margin:0.8em 0;
	padding: 3px 5px;
}
section#questions ul li:nth-child(odd){
	background: #efefef
}
section#questions ul li:nth-child(even){
	background: #ffffff;
}
section#questions ul li a{
	text-decoration:none;
}

section#questions ul li a:hover{
	color:#29abef;
}


section#domandaSingola .domanda{
	font-family: main-condensed_bold;
	font-size: 18px;
	line-height: 1.2;
	
}

section#domandaSingola .risposta{
	font-family:title-regular;
	font-size: 18px;
	line-height: 1.4;
	margin-top:1em;
}
section#domandaSingola .risposta strong{
	display:block;
	font-family:title-bold;
}

