@import "font-face.css";
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

::-moz-selection {
    color: #fff;
    background: rgba(0,0,0,.8);
}

::selection {
    color: #fff;
    background: rgba(0,0,0,.8);
}

body,
html {
    overflow-x: hidden;
}

header {
    background-color: #FFF;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
    display: block;
    border-bottom: 1px solid #aaa;
    border-bottom: 1px dashed #DFE0DA;
}

header:after,
header:before {
    display: table;
    content: "";
    line-height: 0;
}

header:after {
    clear: both;
}

header .logo {
    display: block;
    margin: 0 auto 10px auto;
    width: 90%;
}

@media screen and (min-width:699px) {
    header .logo {
        float: left;
        margin: 0 0 0 20px;
        width: 320px;
    }
}

header .shareToolBar {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.shareToolBar img {
    width: 36px; 
}

@media screen and (min-width:699px) {
    header .shareToolBar {
        float: right;
        width: 146px;
    }
    .shareToolBar img {
    width: 29px; 
    }
}

header .shareToolBar a {
    color: #000;
    font-size: 26px;
    line-height: 40px;
    text-decoration: none;
    margin-left: .3em;
    display: inline-block;
}
@media screen and (min-width:699px) {
    header .shareToolBar a {
        color: #000;
        font-size: 26px;
        line-height: 40px;
        text-decoration: none;
        margin-left: .1em;
        display: inline-block;
    }
}
header .shareToolBar a:hover {
    color: rgba(18, 18, 15, .7);
}

.specialeCorriere {
    opacity: 0;
}


article {
    background-color: #FFF;
    color: #12120f;
    position: relative;
    padding: 1em 0 3em 0;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}
@media screen and (max-width:480px) {
    article {
        padding: 3em 0 3em 0;
    }
}
@media screen and (min-width:1266px) {
    article {
        max-width: 992px;
    }
}
article h1 {
    color: #12120f;
    margin-top: 10px;
}
section.copertina  {
    display: table;
    position: relative;
    width: 100%;
    padding: 0 30px;
}
@media screen and (min-width:1266px) {
    section.copertina  {
        display: table;
        position: relative;
        width: 100%; 
        padding: 0 8px; 
    }
}
@media screen and (max-width:480px) {
    section.copertina  {
        padding: 0 8px; 
    }
}
section.copertina .cont {
    position: relative;
    margin: 3.5em auto;
    width: 100%;
}
@media screen and (max-width:992px) {
    section.copertina .cont {

        margin: 0px auto 60px;

    }
    .binario{overflow-x: scroll;overflow-y: hidden;}

    section.lista ul{

        width: 992px !important;

    }
}
.contenitoreFaccini .lista h2.nonvisibili{

    font-family: 'solferinodisplaylight', serif;

    font-weight: 400;

    font-size: 24px;

    margin: 5px auto;

    text-align: center;

    opacity: 0;

    -webkit-transition: opacity .3s 0s, visibility 0s .3s;

    transition: opacity .3s 0s, visibility 0s .3s;

    position: relative;

}

.contenitoreFaccini .lista h3.nonvisibili{

    font-weight: 400;

    font-family: main-condensed_regular, sans-serif;

    font-size: 14px;

    margin: 5px auto;

    text-align: center;

    opacity: 0;

    -webkit-transition: opacity .3s 0s, visibility 0s .3s;

    transition: opacity .3s 0s, visibility 0s .3s;

    position: relative;

}

.contenitoreFaccini .lista h2.nonvisibili.visibili, .contenitoreFaccini .lista h3.nonvisibili.visibili{

    opacity: 1;

}

@media only screen and (max-width:480px) {
section.lista.fixed h2.nonvisibili {
    margin-top: 20px;    
}
}

section.copertina .titoli {
    width: 100%;
    font-family: title-regular, serif;
    max-width: 860px;
    margin: 0 auto;
}

section.copertina .titoli h1 {
    display: block;
    width: 100%;
    /*max-width: 900px;*/
    color: #222;
    font-size: 72px;
    line-height: 70px;
    margin: 0 0 20px;
    font-family: 'solferinodisplaylight', serif;
    font-weight: 400;
}
section.copertina .titoli i {
    letter-spacing: -2px;
}
section.copertina .titoli em {
}

section.copertina .titoli h3 {
    letter-spacing: -0.01em;
    /*max-width: 860px;*/
    color: #12120f;
    margin: 0 0 20px;
    /* font-family: main-condensed_semibold, sans-serif; */
    font-size: 24px;
    font-weight: normal;
}

@media screen and (max-width:900px) {
    section.copertina .titoli h1 {
        font-size: 58px;
        line-height: 62px;
    }
    section.copertina .titoli h3 {
        font-size: 20px;
    }
}

section.copertina .titoli p {
    /*max-width: 860px;*/
    color: #12120f;
    margin: 0 0 .5em;
    font-family: main-light, sans-serif;
    font-size: 12px;
}
section.copertina .titoli p.testo {
    margin: 3em auto 0 auto;
    font-family: solferinodisplaylight, serif;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.65em;
    /* max-width: 640px; */
    font-family: title-regular, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 20px;
}
section.copertina .titoli p.autore {
    font-size: 15px;
}
section.copertina .titoli p.data {

font-size: 14px;

/* margin: 20px 0; */

color: #29abef;
}
section.copertina .titoli p.firme {
    font-size: 14px;
}
section.copertina .photo {
    width: 350px;
    zoom: 1;
}

@media screen and (max-width: 1265px) {

    section.copertina .photo {
        zoom: 0.8;
    }
    section.copertina .photo img {
        
margin-top: 50px;
    }
}

@media screen and (max-width:1200px) {
    section.copertina .photo {
        zoom: 0.75;
        /* margin-top: 50px; */
        /* margin-right: 50px; */
    }
    section.copertina .photo img {
        
margin-right: 50px;
        
margin-top: 80px;
    }
}
@media screen and (max-width:1024px) {
    section.copertina .photo {
        zoom: 0.7;
    }
    section.copertina .photo img { 
        margin-top: 100px;
        margin-right: 70px;
    }
}

@media screen and (max-width:920px) {
    section.copertina .photo {
        zoom: 0.7;
    }
    section.copertina .photo img {
          margin-top: 160px;  
    }
}
@media screen and (max-width:920px) {
    section.copertina .photo {
        zoom: 0.6;
    }
    section.copertina .photo img {
          margin-top: 130px;  
    }
}
section.copertina img {
    position: absolute;
    width: 190px !important;
    border-radius: 50%;
}

section.copertina .photo img.zind {
    z-index: 100;
}section.copertina img:hover {
    /*z-index: 100 !important;*/
}
section.copertina img:nth-child(1) {
    width: 139px;
    top: -28px;
    right: 202px;
    z-index: 3;
}
section.copertina img:nth-child(2) {
    width: 151px;
    top: -89px;
    right: 60px;
    z-index: 2;
}
section.copertina img:nth-child(3) {
    width: 80px;
    top: -12px;
    right: -66px;
    z-index: 3;
    transform: rotate(-15deg);
}
section.copertina img:nth-child(4) {
    width: 100px;
    top: 136px;
    right: 100px;
    z-index: 4;
}
section.copertina img:nth-child(5) {
    width: 132px;
    top: 263px;
    right: 143px;
    z-index: 4;
    transform: rotate(-15deg);
}
section.copertina img:nth-child(6) {
    width: 117px;
    top: 213px;
    right: -28px;
    z-index: 4;
}
section.copertina img:nth-child(7) {
    width: 152px;
    top: 348px;
    right: 60px;
    z-index: 4;
    transform: rotate(15deg);
}
section.copertina img:nth-child(8) {
    width: 110px;
    top: 45px;
    right: 35px;
    z-index: 3;
    transform: rotate(15deg);
}
section.copertina img:nth-child(9) {
    width: 120px;
    top: 157px;
    right: 228px;
    z-index: 3;
}
section.copertina img:nth-child(10) {
    width: 99px;
    top: 83px;
    right: 328px;
    z-index: 3;
    transform: rotate(-5deg);
}

@media screen and (max-width:600px) {
    section.copertina .titoli {
        width: 100%;
        padding: 0 10px;
    }
    section.copertina .titoli h1 {
        font-size: 40px;

        line-height: 40px;
    }
    .contenitoreFaccini .lista h2.nonvisibili{

        font-size: 20px;

    }

    .contenitoreFaccini .lista h3.nonvisibili{

        font-size: 12px;

    }
    section.copertina .titoli h3 br {
        display: none;
    }
    section.copertina .photo {
        display: none;
    }
}

section.copertina .fitText {
    line-height: 1;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center
}

@media (min-width:699px) {
    section.copertina .fitText {
        max-width: 600px
    }
}

section.scroll {
    display: block;
    width: 100%;
    max-width: 860px;
    margin: 60px auto 180px auto;
}

section.lista .filtro {
    border-bottom: 1px dashed #DFE0DA;
    text-align: center;
    margin: 30px auto 60px auto;
    padding: 15px 0;
}

@media (max-width:600px) {
    section.lista .filtro {
        margin-bottom: 30px;

    }
}

section.lista .filtro div {
    display: inline-block;
    height: 40px;
    position: relative;
    top: 6px;
    width: 193px;
}

@media screen and (max-width:600px) {
    section.lista .filtro div {
        width: 46%;
    }
}

section.lista .filtro div label {
    font-family: main-condensed_light, sans-serif;
    font-size: 12px;
    display: block;
    text-align: left;
}

section.lista .filtro div input {
    font-family: main-condensed_light, sans-serif;
    width: 100%;
    color: #12120f;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    height: 25px;
}

section.lista .filtro div input:focus {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important
}

section.lista .filtro button,
section.lista .filtro select {
    font-family: main-condensed_light, sans-serif;
    padding: 7px;
    margin-right: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    height: 40px;
    font-size: 15px;    
}

@media screen and (max-width:600px) {
    section.lista .filtro button,
    section.lista .filtro select {
        width: 45%;
        text-align: left;
        margin-bottom: 10px
    }
}

section.lista .filtro button:focus,
section.lista .filtro select:focus {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important
}

section.lista .filtro button:checked,
section.lista .filtro select:checked {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important
}

section.lista .filtro button.selected,
section.lista .filtro select.selected {
    border-width: 1px;
    outline-color: #000;
    border-color: #000;
    -webkit-tap-highlight-color: #000!important;
    background: #000;
    color: #DFE0DA;
    font-weight: 700
}
.contenitoreFaccini{

    position: relative;

    width: 100%;

    height: 154px;

    z-index: 2;

}
section.lista ul {
    display: table;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px dashed #DFE0DA;
    padding-bottom: 10px;
}

section.lista{
    position: relative;
    width: 100%;
    max-width: 992px;
    background-color: #fff;
    z-index: 2;
    padding-right: 0px;
}
section.lista.fixed{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(https://images2.corriereobjects.it/test/logo_corriere.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: 10px 10px;
    height: 120px;   
}



@media only screen and (max-width:1265px) {
    section.lista{
        max-width: 992px;
    }  
}
section.lista .binario{
    position: relative;
    width: 100%;
    max-width: 992px;
    background-color: #fff;
    z-index: 2;
}
section.lista .binario span.tutti {
    position: absolute;
    bottom: 0px;
    left: 5px;
    z-index: 100;
    font-family: main-light, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px;
    cursor: pointer;
    opacity: 0;
}
@media only screen and (max-width:480px) {
section.lista .binario span.tutti {
    bottom: 5px;
    left: 5px;
}
section.lista.fixed{
    background-position: center 7px;    
}
}
section.lista .donna {
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
    width: 6.66%;
    padding: 0;
}
section.lista:after{
    content: "";
    display: block;
    clear: both;
}
section.lista .donna .donna-image{
    /* padding: 5px; */
}
section.lista .donna-text {
    top: 20vw !important;
}

section.lista .donna-image {
    position: relative;
    width: 100%;
    text-align: center;
}
section.lista .donna-image img {
    width: 50px;
    height: 50px;
    max-width: 200px;
    border-radius: 50%;
    border: 1px solid #efefef;
    -webkit-filter: saturate(100%) !important;
    filter: saturate(100%) !important;
    object-fit: cover;
}
section.lista .donna-1 .donna-image img, 
section.lista .donna-3 .donna-image img {
    object-fit: fill;
}
section.lista .donna-text {
    width: 100%;
    font-size: 14px;
    /* position:  absolute; */
    /* top: 145px; */
    /* left: 0; */
    /* background: rgba(255, 255, 255, 0.75); */
    /* padding: 5px; */
    /* border-radius: 5px; */
    /* text-align: center;*/
}

section.lista .donna-titolo {
    font-family: main-condensed_heavy, serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}
section.lista .donna-titolo span {
    display: block;
}
section.lista p.donna-ruolo {
    font-family: main-condensed_regular, sans-serif;
    font-size: 22px;
    font-style: italic;
}

@media screen and (max-width:1265px) {
    section.lista p.donna-ruolo {
        font-size: 18px;
    }
}
@media screen and (max-width:768px) {

    article{

        padding: 3em 20px;

    }

}
@media screen and (max-width:480px) {

    article {

padding: 2em 0px;

}
    section.lista .donna-titolo{

        font-size: 12px;

        line-height: 14px;

    }

}
section.lista .donna-link {
    display: none;
    font-family: main-regular, sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 100%
}
section.lista .donna.tooltip {
    position: relative;
}

section.lista .donna.tooltip .donna-image img {
    box-shadow: 0 0 4px rgb(0 0 0 / 100%);
}
section.lista .donna.tooltip .donna-image:active img {
    box-shadow: none;
}
section.lista .donna-image:active::after {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle at 50px 50px, #fff, transparent);
}
section.lista .donna.tooltip .donna-text {

}

@media screen and (min-width:600px) {
    section.lista .donna.tooltip .donna-text {

    }
}

section.lista .donna.tooltip .donna-text p {
 
}

section.lista .donna.tooltip .donna-text p.donna-link {

}

section.lista .donna.tooltip .donna-text p.donna-ruolo {

}

section.lista .donna.tooltip .donna-text .donna-text_image {

}

section.lista .donna.tooltip .donna-text .donna-text_image img {

}

section.description {
    margin: 120px auto 90px auto;
    position: relative;
    padding: 0 0px;
}

section.description .messages p {
    font-family: main-condensed_light, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center
}

section.description .contatore {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 50;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #FFF;
    display: block;
    text-align: center;
    font-family: main-condensed_semibold, sans-serif;
    font-size: 14px
}

section.description .contatore>* {
    display: inline-block;
    margin: 0 5px
}

section.description .contatore .next,
section.description .contatore .prev {
    cursor: pointer
}

section.description .contatore p {
    font-family: main-condensed_semibold, sans-serif;
    font-size: 14px;
    padding-bottom: 0
}

section.description .contatore p strong {
    font-family: main-condensed_heavy, sans-serif;
    font-weight: 700;
    color: #000
}

section.description .contatore.down {
    top: auto;
    bottom: 0;
    -webkit-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%)
}

section.description .contatore-main {
    display: none;
    opacity: 0
}
section.description .descrizione {
    padding: 1em 1em;
    /*border: 1px dashed #000;
    border-width: 1px 0;*/
    margin: 0em auto 4em auto;
    display: block;
}
@media (max-width:600px) {
    section.description .descrizione {
        padding: 1em .5em;
    }
}
@media (min-width:768px) {
    section.description .contatore-main {
        opacity: 1;
        display: block;
        position: absolute;
        top: 300px;
        left: 50%;
        z-index: 50;
        width: 100%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: 0 0;
        text-align: center;
        font-family: main-condensed_semibold, sans-serif;
        font-size: 24px;
    }
    section.description .contatore-main .prev {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 24px;
        text-indent: -100%;
        overflow: hidden;
        width: 50px;
        height: 50px;
        background: url(../graphic/back.svg) center center no-repeat;
        background-size: 50px;
        left: 0;
    }
    section.description .contatore-main .next {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 24px;
        text-indent: -100%;
        overflow: hidden;
        width: 50px;
        height: 50px;
        background: url(../graphic/back.svg) center center no-repeat;
        background-size: 50px;
        right: 0;
        background-image: url(../graphic/next.svg);
    }
section.description .descrizione {
    padding: 2em 1em;
    /*border: 1px dashed #000;
    border-width: 1px 0;*/
    margin: 60px auto;

    display: block;
}
}


section.description .descrizione:after{

    content: "";

    display: block;

    clear: both;

}

@media (min-width:1024px) {
    section.description .descrizione {
        padding: 2em 20px 0em 1em;
    }
}

section.description .descrizione:after,
section.description .descrizione:before {
    display: table;
    content: "";
    line-height: 0
}

section.description .descrizione:after {
    clear: both
}

section.description .descrizione.active {
    display: block
}

section.description .descrizione-image {
    float: left;
    width: 320px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: -40px;
}

@media (max-width:480px) {
  section.description .descrizione-image {
    float: none;
}  

section.description .descrizione-image ul.vocette {
    min-height: auto !important;
    opacity: 1 !important;
}
}

section.description .descrizione-image ul.vocette {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    background: #fff;
    min-height: 240px;
    opacity: 0;
}

section.description .descrizione-image ul.vocette li {
    display: block;
    font-family: main-light;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 40px;
    clear: both;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    border-bottom: 1px dashed #DFE0DA;
    padding-bottom: 10px;
    cursor: pointer;
}
section.description .descrizione-image ul.vocette li:last-child {
    border-bottom: 0;
}
section.description .descrizione-image ul.vocette li img {
    display: inline-block;
    width: 40px;
    border:  0;
    height: 40px;
    box-shadow: none !important;
    float: left;
    position: relative;
    top: 0;
    left: 5px;
    border-radius: 0;
    margin-right: 15px;
}
@media screen and (min-width: 600px) {
  section.description .descrizione-image.fixed {
    position: fixed;
    top: 260px;

  }
}
li.descrizione:nth-child(1) .descrizione-image img {
    /* box-shadow: 0px 0px 100px 0px #999999; */
    opacity: 1;
    }
li.descrizione:nth-child(1) .descrizione-image ul {
    /* box-shadow: 0px 0px 100px 0px #999999; */
    opacity: 1;
    }    
section.description .descrizione-image.fixed img {
    /* box-shadow: 0px 0px 100px 0px #333; */
    opacity: 1;
    }
section.description .descrizione-image.fixed ul {
    /* box-shadow: 0px 0px 100px 0px #333; */
    opacity: 1;
    }
@media screen and (max-width:600px) {
    section.description {
     padding: 0 8px;
}
    section.description .descrizione-image {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 40px;
    }
li.descrizione .descrizione-image img {
    box-shadow: 0px 0px 100px 0px #999999;
    }    
section.description .descrizione .descrizione-altro li.citazione {
    font-size: 7vw;
    line-height: 9vw;
    }
}
section.description .descrizione-image img {
    width: 100%;
    border-radius: 20px;
    /* border: 1px solid #d0d0d0; */
    opacity: 0;
}
@media screen and (max-width:600px) {
 section.description .descrizione-image img {
    opacity: 1;
 }
}
section.description .descrizione-text {
    font-family: title-regular, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
}
section.description .descrizione-text img {
    position: relative;
    top: -20px;
    float: right;
    width: 120px;
    position: relative;
    top: -20px;
    float: right;
    width: 100px;
    border-radius: 6px;
    border: 1px solid #efefef;
    right: 0;
}
@media screen and (min-width:600px) {
    section.description .descrizione-text {
        margin-left: 360px;
    }
}

section.description .descrizione-stato{
    font-family: main-condensed_heavy, sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}
section.description .descrizione-titolo {
    font-family: 'solferinodisplaylight', serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 42px;
    padding: 0;
    margin: 0;
    margin: 20px 0 20px 0;
}
@media screen and (max-width:600px) {
    section.description .descrizione-titolo {
        font-size: 26px;
        line-height: 28px;
    }
}

section.description .descrizione-giornalista {
    font-family: main-condensed_semibold, sans-serif;
    font-size: 18px;
    margin: 1.5em 0 .5em 0
}

section.description .descrizione-giornalista strong {
    color: #000;
    font-family: main-condensed_heavy, sans-serif;

    font-weight: normal;
}
section.description .descrizione-testo a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid #333;

}
section.description .descrizione-firma,
section.description .descrizione-testo {
    padding: 0;
    margin-top: .5em;
    padding-right: 20px;
}

section.description .descrizione-altro-elem {
    font-size: 16px;
    line-height: 22px;
}

section.description .descrizione-altro-elem-citazione {
    font-size: 24px;
    font-family: main-condensed_semibold_italic, sans-serif;
}
section.description .descrizione .social_donna {
    margin: 20px 0 0 0;
    display: none;
}
@media screen and (min-width:600px) {
    section.description .descrizione .social_donna {
        margin: 20px 0 0 360px;
    }
}

section.description .descrizione .social_donna a {
    color: #12120f;
    text-decoration: none;
    font-size: 28px;
    margin-right: .1em;
}

section.description .descrizione .descrizione-altro {
    margin-top: .75em;
    padding: 0;
    font-family: main-condensed_regular, sans-serif;
}

section.description .descrizione .descrizione-altro strong {
    font-family: main-condensed_heavy, sans-serif;

    font-weight: normal;
}

section.description .descrizione .descrizione-altro li {
    color: #12120f
}

section.description .descrizione .descrizione-altro li.citazione {
    display: block;
    font-size: 26px;
    line-height: 34px;
    font-family: 'solferinodisplaylight', serif;
    font-style: italic;
    padding: 0 0 0 .6em;
    margin: 1em 0 1em;
    border-left: .2em solid #000;
}

section.description .descrizione .descrizione-altro li.carica, section.description .descrizione .descrizione-altro li.anni, section.description .descrizione .descrizione-altro li.paese {
    display: block
}

section.description .descrizione .descrizione-altro li.corsa {
    text-transform: uppercase;
    font-weight: bold;
    color: #29abef;
}

section.description section.evento:after,
section.description section.evento:before {
    display: table;
    content: "";
    line-height: 0
}

section.description section.evento:after {
    clear: both
}

@media (min-width:768px) {
    section.description section.evento {
        max-width: 740px;
        margin: 1em auto 4em auto
    }
    section.description section.evento ul {
        width: 420px;
        float: left
    }
    section.description section.evento .desc {
        position: relative;
        float: right;
        width: 100%;
        max-width: 300px;
        background: 0 0;
        -webkit-transform: none;
        transform: none;
        box-shadow: none;
        z-index: 0;
        padding: 0
    }
    section.description section.evento .desc:after {
        display: none
    }
    section.description section.evento .desc.inview {
        bottom: auto
    }
    section.description section.evento .desc h2 {
        font-weight: 400;
        font-family: main-bold, sans-serif;
        padding-left: 0
    }
    section.description section.evento .desc h2 span.data {
        font-family: main-light, sans-serif;
        display: block;
        font-weight: 400
    }
    section.description section.evento .desc h2 span.titolo_evento {
        margin-top: 1em;
        display: block
    }
}

span.deceduta,
span.incarica {
    display: none
}

li {
    list-style: none;
    display: inline;
    position: relative;
}

li .details {
    display: none;
    font-family: main-condensed_regular, sans-serif;
    position: absolute;
    max-width: 480px;
    box-shadow: 0 0 5px #12120f;
    background: #DFE0DA;
    z-index: 999;
    padding: .5em 1em;
    text-align: left
}

li .details img {
    float: left;
    margin: 0 1em 1em 0;
    width: 5em
}

li .details strong {
    font-family: main-condensed_bold, sans-serif;
}

.credit {
    position: relative;
    width: 100%;
    z-index: 10;
    max-width: 860px;
    margin: 0 auto;
    padding: 0;
}

.credit h2 {
    text-align: left;
    margin-bottom: 0;
    padding-top: 0
}

.credit p {
    margin-top: 10px!important;
    text-align: left!important;
    font-family: main-condensed_regular, sans-serif;
    font-size: 16px!important;
    max-width: calc(100% - 200px);
}

.credit img.sette {
    position: absolute;
    top: 0;
    right: 0; 
    width: 120px; 

    display: none;
}

.credit p a,
.credit p strong {
    color: #12120f
}
@media screen and (max-width:600px) {
.credit {
    padding: 0 30px;
}
.credit img.sette {
    position: relative;
    margin-top: 20px;
    width: 80px;
}
.credit p {
    max-width: 100%;
}
}
#top div.navWrapper img.unhcr-testata {
    display: block;
    height: 70px;
    margin-left: 400px;
    padding-top: 10px;
    position: absolute;
    width: 59px
}

.share {
    position: relative;
    max-width: 990px;
    margin: 15px auto;
    border-top: 1px dashed rgba(18, 18, 15, .5);
    padding: 15px;
    display: block;
    font-size: 18px
}

.share h2 {
    margin-bottom: 10px
}

.share .desc {
    font-family: main-condensed_regular, sans-serif;
    font-size: 18px
}

.share .desc:after,
.share .desc:before {
    display: table;
    content: "";
    line-height: 0
}

.share .desc:after {
    clear: both
}

.share .desc strong {
    font-family: main-condensed_bold, sans-serif;
}

.share .desc img {
    float: left;
    margin: 0 1em 1em 0;
    width: 5em
}

.share .condivisioni {
    font-family: main-condensed_regular, sans-serif;
    font-size: 18px;
    text-transform: uppercase
}

.share .condivisioni a {
    display: inline;
    text-decoration: underline
}

.share .condivisioni a.twitter {
    margin-left: 1em
}

table.conversion {
    display: none
}

table.conversion td {
    border: 1px dashed #999
}

table.conversion td:nth-child(odd) {
    font-family: omini;
    font-size: 48px
}

table.conversion.upper {
    text-transform: uppercase
}

.perMobile {
    display: none;
    text-align: right;
    margin-top: 15px
}

@media (max-width:768px) {
    .unhcr-testata {
        display: none!important
    }
    .perMobile {
        display: block
    }
    h2.contaMorti #bigtext-id2 {
        margin-top: .8em!important
    }
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.loading {
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000
}

.loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

@-webkit-keyframes ondeggiamento {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    33% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    66% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes ondeggiamento {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    33% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    66% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes ondeggiamento_reverse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    33% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }
    66% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes ondeggiamento_reverse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    33% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }
    66% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes ondeggiamento_small {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    33% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px)
    }
    66% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes ondeggiamento_small {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    33% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px)
    }
    66% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.cd-top {
    display: none;
    height: 40px;
    width: 120px;
    position: fixed;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    overflow: hidden;
    white-space: nowrap;
    background: rgba(0, 0, 0, .8);
    font-family: main-condensed_semibold, sans-serif;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s
}

.cd-top.cd-fade-out,
.cd-top.cd-is-visible,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1
}

.cd-top.cd-fade-out {
    opacity: .5
}

.no-touch .cd-top:hover {
    background-color: #000;
    opacity: 1
}

@media only screen and (min-width:768px) {
    .cd-top {
        display: block;
        right: 20px;
        bottom: 20px
    }
}

@media only screen and (min-width:1024px) {
    .cd-top {
        display: block;
        height: 40px;
        width: 120px;
        right: 30px;
    }
}

section.description .contatore-main .next, section.description .contatore-main .prev {
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-official:before {
    background: url(https://images2.corriereobjects.it/speciale/asset/img/fb-icon.png);
    width: 29px;
    height: 29px;
    content:"";
    display:block;
}

.fa-twitter-square:before {
    background: url(https://images2.corriereobjects.it/speciale/asset/img/tw-icon.png);
    width: 29px;
    height: 29px;
    content:"";
    display:block;
}

.fa-google-plus {
    display: none !important;
}

.fa-google-plus:before {
    background: url(https://images2.corriereobjects.it/speciale/asset/img/gPlus-icon.png);
    width: 29px;
    height: 29px;
    content:"";
    display:block;
}
.j-wa, .j-tg {display: none !important;}
@media screen and (max-width: 480px) {
.j-wa, .j-tg {display: inline-block !important;}
}



.donna-5, .donna-10, .donna-9 {

}